* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    height: 100vh;
    background-color: hsl(240, 78%, 98%);
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
}

a {
    margin-top: 1rem;
    text-decoration: none;
    color: hsl(260, 84%, 59%);
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    padding: 0.5rem;
    margin: 0.5rem;
}

p {
    text-align: center;
}

header {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .heading {
    margin: 1rem;
    font-size: 2rem;
}

header .subheading {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-container {
    height: 100%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 2px green; */
}

.toggle {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width: 80px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.toggle::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin: 5px;
    transition: 0.2s;
}

input:checked+.toggle {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:checked+.toggle::before {
    transform: translateX(40px);
}

input {
    display: none;
}

.container {
    margin: 4rem;
    display: flex;
    justify-content: center;
}

.container .plan-monthly {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.professional-monthly,
.basic-monthly,
.master-monthly {
    padding: 1rem 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-blue {
    color: white;
    height: 110%;
    background: linear-gradient(to bottom right,
            hsl(236, 72%, 79%),
            hsl(237, 63%, 64%));
}

.bg-white {
    color: var(--Dark-Grayish-Blue);
    background-color: white;
}

.btn {
    display: block;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.btn-secondary {
    color: white;
    background-color: hsl(236, 72%, 79%);
}

.btn-secondary:hover {
    background-color: white;
    color: rgb(122, 102, 253);
    border: solid 1px;
    transition: 0.2s;
}

.btn-primary {
    background-color: white;
}

.btn-primary:hover {
    background-color: hsl(237, 63%, 70%);
    color: white;
    border: solid 1px;
    transition: 0.2s;
}

.basic-monthly ul li:first-child {
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.2rem;
}

.professional-monthly ul li:first-child {
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.2rem;
}

.master-monthly ul li:first-child {
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.2rem;
}

.container span {
    font-size: 3rem;
}

hr {
    width: 100%;
}

@media (max-width: 930px) {
    .container .plan-monthly {
        display: flex;
        flex-direction: column;
    }

    .professional-monthly,
    .basic-monthly,
    .master-monthly {
        margin-bottom: 1.5rem;
        width: auto;
    }
}

@media (min-width: 1921px) {
    .heading{
        font-size: 8rem;
    }
    .subheading{
        padding: 3rem;
    }
    .subheading span{
        font-size: 2rem;
    }
    .container .plan-monthly{
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }
    .professional-monthly,
    .basic-monthly,
    .master-monthly{
        font-size: 2rem;
        border-radius: 1.5rem;
    }
} 